<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab4">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Actions</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="trips">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Scheduled Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Completed Trips</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="s-trips">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Unsigned Trips</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="fuel">
      <ion-icon name="flame"></ion-icon>
      <ion-label>Fuel</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
